{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center col-md-12 col-sm-6 col-xs-12">

    <h2>Welcome to the STAND EHR: Trogan1</h2>
    <h3>Please Log in to Continue</h3>
        <div class="container text-center col-md-12 col-sm-10 col-xs-8">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-primary">Log In</button>
          </form>
        </div>
    <div class="container text-center col-md-12 col-sm-8 col-xs-6">
    <h5 class="text-center">Need to sign up? You can do that <a href="{% url 'signup' %}">here</a></h5>
    </div>
</div>

{% endblock %}

