{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styleEncounter.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center col-md-8 col-sm-6 col-xs-4">
<h2 class="brand">Patient Encounter</h2>
    <br>

    {% if user.userprofile.role == "PT" %}
        <h1>im going to display pt form</h1>
        {% crispy form %}
    {% else %}
        <h1>im going to display gm form</h1>
    {% endif %}
</div>
<br>
<br>
{% endblock %}



