#div_id_Systolic {
    position: relative;
    left: -180px;
    top: 10px;
}
#div_id_Diastolic {
    position: relative;
    right: -200px;
    top: -74px;
}
#div_id_Assistive_Devices{
    position: relative;
    top: 50px;
}
#div_id_Common_Supplies {
  position: relative;
  top: 20px;
}

#div_id_Orthotic_Devices{
  position: relative;
  top: 70px;
}
#submit-id-submit{
  position: relative;
  top: 80px;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.control-label {
    background: #DDECF5;
}

