.nav-link {
    color: black;
}
h1 {
    color:black;
}

a {
    color: black;
}

#btn-enterPatient {
    background:#52A8DC
    color: white;
}

#btn-enterDemographics {
    background:#4AA69D
}

.enterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px
}