body{
    font-weight: 500;
    font-size:20px;
}
.nav.nav-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.hereLink {
    color: blue;
}

.nav-link {
    color: black;
}
h1 {
    color:black;
}

a {
    color: black;
}

.btn.btn-primary {
    background: #3481C1;
    border-color: #3481C1;
}
#btn-enterPatient {
    background: #AECDE0;
    border-color: #AECDE0;
    width: 200px;
    height: 40px;
}

#btn-enterDemographics {
    background:#AEE0DB;
    border-color: #AEE0DB;
    width: 200px;
}

.enterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px
}


