body{
    font-weight: 500;
    font-size:20px;
}
.nav.nav-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.hereLink {
    color: blue;
}

.nav-link {
    color: black;
}
h1 {
    color:black;
}

a {
    color: black;
}

#btn-enterPatient {
    background:#AECDE0;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
}

#btn-enterDemographics {
    background:#AEE0DB;
    border: none;
    width: 200px;
}

.enterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px
}

#text {
    font-weight: bold;
}

legend {
    display: none;
}

